<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOG_HOME" value="C:\\empty-spring\\log" />
    

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}\\application.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}\\application.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>1MB</maxFileSize>
            <maxHistory>5</maxHistory>
            <totalSizeCap>5MB</totalSizeCap>
        </rollingPolicy>
        
        <encoder>
            <charset>utf8</charset>
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %thread %-5level %logger - %m%n</Pattern>
        </encoder>
    </appender>

    <logger name="org.hibernate.SQL" level="DEBUG" />
    <logger name="org.hibernate.type.descriptor.sql" level="TRACE" />
    <logger name="org.springframework" level="WARN" />
    <logger name="org.springframework.security" level="TRACE"/>
    <!-- 
    <logger name="org.springframework.security" level="TRACE" additivity="false">
         <appender-ref ref="STDOUT" />
    </logger>    
    -->
    
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>